.box {
  width: 100%;
  height: 1000px;
  background: url(../images/background.jpg);
  overflow: hidden;
}
.boxBox {
  width: 400px;
  height: 1000%;
  margin: auto;
  /* border: 1px solid black; */
}
.boxBox > div {
  /* border: 1px solid black; */
  margin-bottom: 50px;
}
.box1 {
  width: 400px;
  height: 700px;
  border: 1px solid black;
  background-color: white;
  margin: auto;
  margin-top: 20px;
}
.box1-one {
  width: 300px;
  margin: auto;
  height: 65px;
  line-height: 65px;
  /* border: 1px solid black; */
}
.box1-one > div {
  height: 65px;
  line-height: 65px;
  width: 80px;
  text-align: center;
  float: left;
  margin-left: 10px;
  /* border: 1px solid black; */
}
.box1-one > div > a {
  height: 65px;
  line-height: 65px;
  font-size: 20px;
}
.select > a {
  color: #0469b3;
}
.select {
  border-bottom: 2px solid #0469b3;
}
a {
  color: black;
}
.box2 {
  width: 400px;
  height: 600px;
  /* border: 1px solid black; */
  background-color: white;
  margin: auto;
  margin-top: 20px;
}
.box2One {
  height: 30px;
  width: 250px;
  margin: auto;

  margin-top: 20px;

  position: relative;
}
.box2One > input {
  width: 200px;
  height: 28px;
  /* border: none; */
  /* position: absolute;
    left: 30px;
    top: -2px; */
  font-size: 10px;
  float: left;
}
.box2Three > input {
  width: 100px;
}
.input1 {
  background-color: #57a3f3;
  border-radius: 5px;
  /* outline: none; */
  border: none;
  margin-top: 2px;
  margin-left: 5px;
  color: white;
}
